/* Reset and Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-image: url('paper.jpg');
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Centered Navigation Bar */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

header nav {
    width: 90%;
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9360017e;;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.logo {
    display: flex;
    align-items: center;
    
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: solid wheat 2px;
}

.logo span {
    font-size: 1.8em;
    color: #f0d891;
    font-weight: bold;
}

/* Book Cover Layout */
.book-cover {
    display: flex;
    align-items: stretch;
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    width: 80%;
    background-color: #9360017e;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border: 0.7px solid wheat;
}

.left-panel {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h1 {
    font-size: 2.5em;
    color: #eaeaea;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2em;
    color: #cccccc;
    margin-bottom: 2rem;
}
.author {
    text-align: right;
    font-size: 1.4em;
}
.button {
    padding: 0.8rem 1.5rem;
    font-size: 1em;
    background-color: #3d3206;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: fit-content;
    border: 0.7px solid wheat;
    font-family: 'Georgia', serif;
}

.button:hover {
    background-color: #d4d4d4;
    color: black;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-image {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border: solid 2px wheat;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .book-cover {
        flex-direction: column;
    }

    .left-panel {
        padding: 1rem;
        text-align: center;
    }

    .right-panel {
        padding: 1rem;
    }
}
